/* Provide sufficient contrast against white background */
.custom-file-input:lang(en) ~ .custom-file-label::after {
  background-color: rgba(232, 114, 136, 0.28);
}

.custom-file-input {
  cursor: pointer;
}

.custom-file-input:focus ~ .custom-file-label {
  border-color: initial;
  box-shadow: none;
}
